###Node###

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

###SVN###

.svn/


###Tags###

# Ignore tags created by etags and ctags
TAGS
!TAGS/
tags
!tags/
