<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>
    <header><h1><%= title %></h1></header>
    <nav>
        <span><a href="/" title="home page">home</a></span>
        <span><a href="/login" title="log in">log in</a></span>
        <span><a href="/signup" title="sign up">sign up</a></span>
    </nav>
</body>
</html>
