<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <table>
        <tr>
            <td>
                <div class="navber">
                    <p><a href="/">Home</a></p>
                    <p><a href="/mult">Multiplication</a></p>
                    <p><a href="/square">Square</a></p>
                    <p><a href="/factorial">Factorial</a></p>
                    <p><a href="/fibonacci">Fibonacci</a></p>
                </div>
            </td>
            <td><%= body %></td>
        </tr>
    </table>
</body>
</html>
