<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    {# <title><%= title %></title> #}
    <title>{% block title %}{{title}}{% endblock %}</title>
    {% block style %}{% endblock %}
</head>
<body>
    {# <h1><%= title %></h1> #}
    <h1>{{title}}</h1>
    <table>
        <tr>
            <td>
                <div class="navber">
                    <p><a href="/">Home</a></p>
                    <p><a href="/multi">Multiplication</a></p>
                    <p><a href="/square">Square</a></p>
                    <p><a href="/factorial">Factorial</a></p>
                    <p><a href="/fibonacci">Fibonacci</a></p>
                </div>
            </td>
            {# <td><%= body %></td> #}
            <td>{% block content %}content{% endblock %}</td>
        </tr>
    </table>
</body>
</html>
