<%- include header %>
<form action="" method="post">
    <input type="text" name='title'>
    <textarea name="post" id="" cols="100" rows="20"></textarea>
    <input type="submit" value="发表">
</form>
<%- include footer %>
