<%- include header %>
<form action="" method="post">
    username: <input type="text" name="name"><br>
    password: <input type="password" name="password" id=""><br>
    password repeat: <input type="password" name="password-repeat" id=""><br>
    email: <input type="email" name="email" id=""><br>
    <input type="submit" value="sign up">
</form>
<%- include footer %>
